<footer
  class="bg-light py-3 px-5 d-flex align-items-center justify-content-around"
  [ngClass]="[currentTheme === 'dark' ? 'dark-footer' : 'light-footer']"
>
  <p
    class="text-right fs-6 fw-bold text-made-by mt-3"
    [ngClass]="currentTheme === 'dark' ? 'text-dark-theme' : 'text-light-theme'"
  >
    Desenvolvido com ❤ por Thayza Oliveira
  </p>
  <nav class="navbar navbar-light">
    <div class="d-flex align-items-center justify-content-center">
      <a
        class="navbar-brand"
        href="https://www.linkedin.com/in/tthayza-oliveira/"
        target="_blank"
        ><lucide-angular
          name="linkedin"
          class="icon"
          [ngClass]="
            currentTheme === 'dark' ? 'text-dark-theme' : 'text-light-theme'
          "
        ></lucide-angular
      ></a>
      <a class="navbar-brand" href="https://github.com/tthayza" target="_blank"
        ><lucide-angular
          name="github"
          class="icon"
          [ngClass]="
            currentTheme === 'dark' ? 'text-dark-theme' : 'text-light-theme'
          "
        ></lucide-angular
      ></a>
    </div>
  </nav>
</footer>
