@import "../../../styles.scss";
$breakpoint-tablet: 768px;

header {
  width: 100%;
  margin: 0;
  padding: 0 2rem;

  @include side-border;
  background-color: $mediumWhite;
  z-index: 10;

  &.dark {
    background-color: $darkGray;
  }

  a img {
    width: 7rem;
    margin-top: 1rem;
    padding: 0;
    animation: fromLeft 1s forwards 0.4s;
    @include flex-align-justify(center, center);
  }
  ul {
    @include alignment(center);
    gap: 2rem;
    li {
      font-size: 1.6rem;
      opacity: 0;
      transition: transform 0.3s ease;
      animation: fadeInUp 0.8s ease forwards;
      text-transform: capitalize;
      transition: color 0.3s ease;
      &:hover {
        color: #efc356;
      }
      a {
        .active {
          text-decoration: underline;
          font-weight: bold;
        }
      }
      @for $n from 1 through 4 {
        &:nth-child(#{$n}) {
          animation-delay: #{$n * 0.1s};
        }
      }
    }
  }
  .theme-toggle {
    width: 7rem;
    height: 7rem;
    padding-top: 0.2rem;
    border-radius: 99rem;
    &:hover {
      background-color: #efc356;
      transform: rotate(20deg);
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  .menu-toggle {
    cursor: pointer;

    .hamburger-icon {
      width: 8rem;
      padding: 0 2rem;
      transition: all 0.3s ease;

      &::before,
      &::after {
        content: "";
        width: 25px;
        height: 3px;
        background-color: $darkGray;
        display: block;
        position: absolute;
        transition: all 0.3s ease;
      }

      &::before {
        top: -8px;
      }

      &::after {
        top: 8px;
      }
    }
  }
}

.menu-modal {
  display: none;
  position: fixed;
  top: 2rem;
  right: 10rem;
  background: rgba(19, 18, 18, 0.7);
  z-index: 1000;
  border-radius: 0.4rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 20rem;
  max-height: 50vh;
  overflow-y: hidden;
  padding: 20px;

  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;

    li {
      margin: 0.1rem 0;
      display: block;
      opacity: 0;
      transition: transform 0.3s ease;

      a {
        text-decoration: none;
        color: #f9f4f0;
        font-size: 18px;
        display: block;
        padding: 10px;
        border-radius: 4px;
        transition: background-color 0.3s ease, color 0.3s ease;

        &:hover {
          color: #efc356;
        }
      }
    }
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #efc356;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: #f9f4f0;
    }
  }
}

.menu-modal.show {
  display: block;
  transform: translateY(0);
}

@keyframes fromLeft {
  0% {
    opacity: 0;
    transform: translateX(20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(-20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
