<header class="{{ currentTheme }}">
  <a>
    <img src="{{ imgLogo }}" />
  </a>
  <ul class="menu-list" *ngIf="!isMobile">
    @for (item of headerElements; track 0) {
    <li class="{{ currentTheme }}">{{ item }}</li>
    }
  </ul>
  <button class="menu-toggle" *ngIf="isMobile" (click)="toggleMenu()">
    <img src="{{ menuHamburguer }}" class="hamburger-icon" />
  </button>
  <div
    class="menu-modal"
    [ngClass]="{ show: showModal }"
    *ngIf="isMobile && showModal"
  >
    <button class="close-button" (click)="toggleMenu()">&times;</button>
    <ul>
      <li><a routerLink="/" class="{{ currentTheme }}">Home</a></li>
      <li><a routerLink="/about" class="{{ currentTheme }}">About</a></li>
      <li><a routerLink="/services" class="{{ currentTheme }}">Services</a></li>
      <li><a routerLink="/contact" class="{{ currentTheme }}">Contact</a></li>
    </ul>
  </div>
  <button class="theme-toggle" (click)="toggleTheme()">
    <img src="{{ currentIcon }}" />
  </button>
</header>
