@import "../../../styles.scss";

.journey {
  @include side-border;
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  padding: 2rem 10rem;

  .wrapper-achievements {
    @include justifying(space-between);
    width: 100%;

    .left-column {
      width: 70%;

      .achievement {
        .heading-achievement {
          @include alignment(center);
          gap: 0.8rem;

          b {
            font-size: 2.4rem;
            &.dark {
              color: rgb(199, 199, 199);
            }
          }

          img {
            width: 2rem;
          }
        }

        p {
          font-size: 1.6rem;
          font-family: "Lato";
        }
      }
    }

    .right-column {
      @include flex-align-justify(center, center);
      width: 35%;
      img {
        width: 30rem;
      }
    }
  }

  @media (max-width: 1024px) {
    align-items: center;
    // text-align: center;
    padding: 1.5rem;
    width: 90.4%;
    .journey {
      padding: 1rem;
      margin-right: 3% !important;
      flex-direction: column;
      width: 100%;
      max-width: 30rem;
    }

    .wrapper-achievements {
      flex-direction: column;
      margin-top: 1.6rem;

      .left-column {
        h3 {
          text-align: center;
        }
        .achievement {
          flex-direction: column;
          width: 100%;

          .heading-achievement {
            b {
              font-size: 2rem;
            }

            img {
              width: 1.8rem;
            }
          }

          p {
            font-size: 1.4rem;
            text-align: start;
            width: 80%;
          }
        }
      }

      .left-column,
      .right-column {
        width: 100%;
      }

      .right-column {
        @include flex-align-justify(center, center);

        img {
          width: 60%;
        }
      }
    }
  }
}
