<section class="journey {{ currentTheme }}">
  <app-heading textContent="Jornada"></app-heading>
  <div class="wrapper-achievements">
    <div class="left-column">
      <h3 class="{{ currentTheme }}">Minha Jornada</h3>
      <div class="achievement" *ngFor="let item of journeyItems">
        <div class="heading-achievement">
          <img src="{{ iconStar }}" />
          <b class="{{ currentTheme }}">{{ item?.title }}</b>
        </div>

        <p class="{{ currentTheme }}">{{ item?.comment }}</p>
      </div>
    </div>
    <div class="right-column">
      <img
        src="{{ womanImg }}"
        alt="Ilustração de mulher com óculos de realidade virtual em um fundo "
      />
    </div>
    <div></div>
  </div>
</section>
