@import "../../../styles.scss";

.projects {
  @include side-border;
  @include alignment(baseline);
  flex-direction: column;
  padding: 2rem 10rem;
  @media (max-width: 1024px) {
    align-items: center;
    text-align: center;
    margin-right: 0.5% !important;
    border-right: rgba(104, 102, 101, 0.2) 0.1rem solid;
  }
  @media (max-width: 1280px) {
  }

  .wrapper-projects {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }

  .card-listing {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 2rem;
    margin: 0 auto;

    @media (max-width: 1024px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }

    .card {
      position: relative;
      background-color: white;
      border-radius: 2rem;
      width: 100%;
      height: 45rem;
      padding: 2.6rem;
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.1);
      transform: translateY(2rem);
      transition: transform 0.3s ease;
      animation: fadeInUp 0.5s ease-in forwards;
      opacity: 0;

      &.dark {
        background-color: rgb(71, 71, 71);
      }
      @for $n from 1 through 7 {
        &:nth-child(#{$n}) {
          animation-delay: #{$n * 0.1s};
        }
      }

      &:hover {
        transform: translateY(-5px);
      }

      .tags {
        @include alignment(center);
        gap: 0.8rem;
      }

      figure {
        height: 20rem;
        width: 30rem;
        @include flex-align-justify(center, center);

        img {
          border-radius: 2rem;
          height: 100%;
          object-fit: cover;
        }
      }
      .card-overlay {
        @include flex-align-justify(center, center);
        border-radius: 2rem;
        flex-direction: column;
        gap: 2rem;
        left: 0;
        top: 0;
        padding: 0 2rem;
        position: absolute;
        width: 100%;
        height: 45rem;
        background-color: rgba(0, 0, 0, 0.9);
        opacity: 0;
        transition: opacity 0.3s ease;
        text-align: center;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

@media (min-width: 288px) and (max-width: 1400px) {
  .projects {
    padding: 2rem;
  }

  .card-listing {
    flex-direction: column;
    @include alignment(center);
  }

  .card {
    @include flex-align-justify(center, center);
    flex-direction: column;
    width: 90% !important;
    margin: 0 auto;

    figure {
      border: solid 4px palegoldenrod;
      width: 110% !important;
      img {
        width: 100%;
      }
    }
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
