<section
  class="projects"
  (mouseenter)="hover = true"
  (mouseleave)="hover = false"
>
  <app-heading textContent="Projetos"></app-heading>
  <div class="wrapper-projects">
    <h3 class="{{ currentTheme }}">Projetos e práticas</h3>
    <div class="card-listing">
      <div class="card {{ currentTheme }}" *ngFor="let project of projectsList">
        <b class="{{ currentTheme }}">{{ project?.id }}</b>
        <h5 class="{{ currentTheme }}">{{ project?.title }}</h5>
        <div class="tags">
          @for (tag of project?.tags; track $index) {

          <app-tag [tag]="tag"></app-tag>
          }
        </div>
        <figure>
          <img src="{{ project?.image }}" />
        </figure>
        <div class="card-overlay">
          <h6>{{ project.summary }}</h6>
          <app-button textBtn="Ver projeto"></app-button>
        </div>
      </div>
    </div>
  </div>
</section>
