<section class="projects">
  <app-heading textContent="Projects"></app-heading>
  <div class="wrapper-projects">
    <h3 class="{{ currentTheme }}">
      Projects and <br />
      practice
    </h3>
    <div class="card-listing">
      <div class="card {{ currentTheme }}" *ngFor="let project of projectsList">
        <b class="{{ currentTheme }}">{{ project?.id }}</b>
        <h5 class="{{ currentTheme }}">{{ project?.title }}</h5>
        <div class="tags">
          @for (tag of project?.tags; track $index) {

          <app-tag [tag]="tag"></app-tag>
          }
        </div>
        <img src="{{ project?.image }}" />
        <app-button textBtn="Ver projeto"></app-button>
      </div>
    </div>
  </div>
</section>
