<main class="banner">
  <div class="infos">
    <app-heading textContent="Portfolio"></app-heading>
    <div class="name">
      <div class="retangulo canto-superior-esquerdo"></div>
      <div class="retangulo canto-superior-direito"></div>
      <div class="retangulo canto-inferior-esquerdo"></div>
      <div class="retangulo canto-inferior-direito"></div>
      <h1>Thayza Oliveira</h1>
    </div>
    <p>
      Com uma paixão por simplificar ideias complexas, meu background é focado
      em criar experiências digitais que elevam o padrão de interação, unindo
      criatividade e precisão técnica para entregar resultados impactantes.
      <br />
      Atualmente, estou focada em desenvolver soluções para o setor financeiro,
      onde minha paixão por entender as necessidades do mercado e acompanhar
      seus avanços se destaca. Essa experiência me permite criar soluções que
      agregam valor e antecipam tendências.
    </p>
  </div>
  <figure>
    <img src="{{ pictureBanner }}" alt="" />
  </figure>
</main>
