@import "../../../styles.scss";
.banner {
  padding-bottom: 2rem;
  @include side-border;
  @include flex-align-justify(center, space-evenly);
  background-color: $mediumWhite;
  animation: fromTop 2s forwards;
  @media (min-width: 288px) and (max-width: 1400px) {
    margin-top: 7.8rem;
  }
  &.dark {
    background-color: $darkGray;
  }
  .infos {
    width: 60%;
    @include justifying(space-between);
    flex-direction: column;
    gap: 2rem;

    p {
      width: 100%;
      font-size: 1.6rem;
      font-family: "Lato";
    }

    .name {
      position: relative;
      width: fit-content;
      height: fit-content;
      padding: 1.8rem;
      border: solid #686665 0.2rem;

      h3 {
        font-family: "Lato";
        font-size: 5rem;
        font-weight: 700;
      }

      .retangulo {
        position: absolute;
        width: 18px;
        height: 24px;
        background-color: #efc356;
        border: solid #686665 0.2rem;
      }

      .canto-superior-esquerdo {
        top: -10px;
        left: -8px;
      }

      .canto-superior-direito {
        top: -10px;
        right: -8px;
      }

      .canto-inferior-esquerdo {
        bottom: -10px;
        left: -8px;
      }

      .canto-inferior-direito {
        bottom: -10px;
        right: -8px;
      }
    }
    .social-container {
      @include alignment(center);
      gap: 1.2rem;

      a img {
        transition: ease 0.2s;

        &:hover {
          transform: scale(1.2);
          filter: brightness(1.5);
          transition: ease 0.2s;
        }
      }
    }
  }

  figure {
    border-radius: 50%;
    width: 400px;
    height: 500px;
    padding: 0.6rem;
    border: solid #686665 0.09rem;
    @include flex-align-justify(center, center);
    margin: 2rem 0;

    img {
      border-radius: inherit;
      height: 100%;
      object-fit: cover;
    }
  }

  @media (max-width: 1109px) {
    padding: 1rem;
    margin-right: 3% !important;
    flex-direction: column;
    gap: 2rem;
    .infos {
      width: 100%;
      align-items: center;
      text-align: center;

      .name {
        padding: 1rem;
        border: solid #686665 0.2rem;

        h3 {
          font-size: 3rem;
        }
      }
    }

    figure {
      width: 250px;
      height: 250px;
      padding: 1rem;

      img {
        height: 100%;
      }
    }
  }
}

@keyframes fromTop {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
