<main class="banner">
  <div class="infos">
    <app-heading textContent="Portfolio"></app-heading>
    <h1>Thayza Oliveira</h1>
    <p>
      Com uma paixão por transformar ideias complexas em interfaces simples e
      eficazes, eu construo experiências digitais que não apenas atendem às
      necessidades dos usuários, mas também elevam o padrão de interação. Cada
      projeto é uma oportunidade de combinar criatividade com precisão técnica
      para entregar resultados que fazem a diferença.
    </p>
    <div class="name">
      <div class="retangulo canto-superior-esquerdo"></div>
      <div class="retangulo canto-superior-direito"></div>
      <div class="retangulo canto-inferior-esquerdo"></div>
      <div class="retangulo canto-inferior-direito"></div>
      <h3>Desenvolvedora Web</h3>
    </div>
  </div>
  <figure>
    <img src="{{ pictureBanner }}" alt="" />
  </figure>
</main>
