<main
  class="py-5"
  [ngClass]="currentTheme === 'dark' ? 'dark-theme-main' : 'light-theme-main'"
>
  <div class="container px-5 pb-5">
    <div class="row gx-5 align-items-center">
      <div class="col-xxl-5">
        <div class="text-center text-xxl-start">
          <div class="badge bg-gradient-primary-to-secondary text-white mb-4">
            <div
              class="text-uppercase p-1 rounded fw-semibold"
              [ngClass]="
                currentTheme === 'dark'
                  ? 'bg-gradient-dark-theme'
                  : 'bg-gradient-light-theme'
              "
            >
              &middot; Desenvolvimento Web &middot; Soluções inteligentes
              &middot;
            </div>
          </div>
          <div
            class="fs-3 fw-light text-muted"
            [ngClass]="
              currentTheme === 'dark' ? 'text-dark-theme' : 'text-light-theme'
            "
          >
            Crio experiências digitais
          </div>
          <h1 class="display-3 fw-bolder mb-5">
            <span
              [ngClass]="[
                'text-gradient',
                currentTheme === 'dark'
                  ? 'bg-gradient-dark-theme'
                  : 'bg-gradient-light-theme'
              ]"
              >cativantes, imersivas e inspiradoras.</span
            >
          </h1>
        </div>
      </div>
      <div class="col-xxl-7">
        <div class="d-flex justify-content-center mt-5 mt-xxl-0">
          <div class="profile">
            <img
              class="profile-img rounded-circle"
              src="../../../assets/coding-girl.gif"
              alt="Imagem animada de uma garota teclando em um notebook"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
