@import '../../../styles.scss';
.profile {
  height: 100%;
  width: 50vw;
}

.profile-img {
  width: 100%;
  object-fit: cover;
}

.dark-theme-main {
  background-color: $dark-purple;
}
.light-theme-main {
  background-color: $light-ice;
}



@media only screen and (max-width: 767px) and (min-width: 200px) {
  .profile {
    height: 60vw;
    width: 60vw;
  }
  .profile .profile-img {
    height: 65vw;
  }
  }

@media (min-width: 768px) {
  .profile {
    height: 50vw;
    width: 50vw;
  }
  .profile .profile-img {
    height: 55vw;
  }

}
@media (min-width: 992px) {
  .profile {
    height: 40vw;
    width: 40vw;
  }
  .profile .profile-img {
    height: 45vw;
  }

}
@media (min-width: 1200px) {
  .profile {
    height: 35vw;
    width: 35vw;
  }
  .profile .profile-img {
    height: 100%;
  }
}


