* {
  box-sizing: border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


 $primary-color:#611c3f;
 $secondary-color:#7c0a43;
 $tertiary-color: #2a0664;



.bg-gradient-primary-to-secondary {
  background: $secondary-color;
  background: linear-gradient(135deg, $tertiary-color 0%, $primary-color 100%);
}

.text-gradient {
  background: -webkit-linear-gradient(315deg, #3c0c8a 0%, $secondary-color 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}